# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
yarn.lock

# Vite
.vite
vite.svg

# Build output
/dist
build/

# Local env files
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/
.DS_Store

# Logs
logs
*.log

# Misc
coverage/
.sass-cache/
.eslintcache
.stylelintcache

